<form class="" action="/bookmarks" method="post">
  <h1>Add a bookmark!</h1>
  <input type="text" name="title" value="enter title here">
  <input type="text" name="url" value="enter url here">
  <input type="submit" name="" value="Submit">
</form>
